body {
  background-color: #BDF2D5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%;
}
h1{
  color: #66BFBF;
}
h2{
  color: #4B5D67;
}
h3{
  color: #3C2C3E;
}
